node_modules
*.log
build
credits.html
d3dcompiler_47.dll
ffmpegsumo.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
locales/
nw.exe
nw.pak
nwjc.exe
pdf.dll
tempLevel
saves
*.localstorage-journal
*.localstorage
assets/music/soundtrack
