body {
    background-color: #000000;
    margin: 0px 0px 0px 0px; /* the extra 1px allows the iOS inner/outer check to work */

}
@font-face {
    font-family: 'Dosis';
    src: local('dosis'), url('fonts/dosis.ttf') format('truetype');
}